<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<title>Login V4</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/login-util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login-main.css' %}">

	
<!--===============================================================================================-->
{% load bootstrap4 %}
{% bootstrap_css %}
{% load mapbox_location_field_tags %}
{% location_field_includes %}
{% include_jquery %}
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: linear-gradient(to bottom, rgba(137, 151, 161, 0.8) 0%, rgba(137, 151, 161, 0.8) 100%), url(/static/assets/img/bg-login.jpg);">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<span class="login100-form-title p-b-49">
					Report Animal Sighting
				</span>

				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{% bootstrap_form form %}

					<div class="form-check">
						<input class="form-check-input" type="checkbox" name="wildfire" value="1" id="flexCheckDefault">
						<label class="form-check-label" for="flexCheckDefault">
						  Was this sighting wildfire related?
						</label>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">What type of animal is it?</span>
						<input class="input100" type="text" name="animal_name" placeholder="Type the animal's name:">
					</div><br>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Any other notes?</span>
						<input class="input100" type="text" name="notes" placeholder="Type the animal's name:">
					</div><br>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								Submit Report
							</button>
						</div>
					</div>
				</form>
				{{ form.media }} 

			</div>
		</div>
	</div>
	

</body>
</html>