<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Alive Nevada</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Alive Nevada</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Alive Nevada</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Every observation contributes to protecting our environment, wildlife and plant species. Help us monitor and report wildlife activity. Your data will be used to study the wildlife habitat and behavior during climate change, hot summer months, and wildfires.</p>
                        <a class="btn btn-primary btn-xl" href="/contribute">Contribute</a>
                    </div>
                    <div class="image-credit">
                        <p class="h6"><a style="color: inherit;" href="https://www.flickr.com/photos/kenlund/2378858909">Photo</a> by Ken Lund / <a style="color: inherit;" href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY</a></p>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mt-0">Let's Make Sure Nature's On Track, Shall We?</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Alive Nevada is an initiative to protect the environment and the wildlife that thrives in it, which
                            makes Nevada one of the best places to live on the planet.</p>
                        <p class="text-white-75 mb-4"> Our goals are to:
                            <ul class="text-white-75 mb-4">
                                <li>help Nevadans learn about the biodiversity that make up the environment they live in
                                    and help protect them</li>
                                <li>help track the migratory path and behavior of animals fleeing ever more frequent wildfires </li>
                                <li>help protect our biodiversity from invasive species</li>
                                <li>create a collaborative, community based, crowd sourced database of observations of
                                    wildlife and invasive species distributions over the years</li>
                            </ul>
                            <a class="btn btn-light btn-xl" href="/contribute">Help Out!</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">How You Can Help</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-camera fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Wildlife</h3>
                            <p class="text-muted mb-0">Tell us which animals you see, our AI will help! We take this data to help researchers find where conservation efforts should be focused.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-trash fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Pollution</h3>
                            <p class="text-muted mb-0">Let us know if you see areas of pollution so they can be cleaned!</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-shield-fill-exclamation fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Invasive Species</h3>
                            <p class="text-muted mb-0">If you recognize invasive species, please report them!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mt-0">Why You Should Care:</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">The challenges facing Nevada’s environment, wildlife, grasslands and water bodies are immense
                            and complicated. But we believe that the power of communities and collaboration can, and will,
                            prove capable of meeting these challenges.
                            <br><br>
                            Northern Nevada is a beautiful place with pictureque views of the Sierra Nevada mountains,
                            the meandering Truckee river, Lake Tahoe, Pyramid Lake, Washoe Lake, and an uncountable number of ponds,
                            lakes and streams. This environment provides a safe habitat for many species of native wildlife
                            and endangered species. These treasures are threatened by unprecedented challenges.
                            <br><br>
                            Nevada’s increasing average temperatures and increase in the frequency and intensity of heat
                            waves is predicted to change the available habitat of many species and negatively impact the health of our wildlife. 
                            Given this prediction, it is the time to act now. By keeping a record
                            of public observations of our wildlife, and providing the data in an open-source fashion  for public science and/or lab research, 
                            we can understand the trend over years regarding the population, distribution, migration pathways, and survival ability of all observable species in our habitat.
                            With trend data available, we can take proactive measures to intervene at appropriate times.
                            <br><br>
                            However, this can only be possible with the help of many Nevadans willing to record and report their observations for scientific research.
                            <br><br>
                            You can help by keeping a lookout for the presence of wildlife in your neighborhood, grasslands and water bodies.
                            Create an account and simply log into the app to report your observation and upload a picture taken.
                            If you cannot identify the animal, that is alright, enter unknown and upload a picture. We are in the process
                            of building a AI (Artificial Intelligence) to identify the wildlife based on Nevada wildlife
                            database.
                            <br><br>
                            If you need the crowdsourced data for your research, please contact us.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Call to action-->
        <section class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">About Us</h2>
                <p class="mb-4">Eegan Ram is a high school student at the Davidson Academy working to make sure that Nevada stays beautiful for years to come.</p>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Let's Get In Touch!</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Email us at: contact@alivenevada.org</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - AliveNevada</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
